/*CSS for count styleguide 
Parker @ WILSON FLETCHER 2015
*/

/*STRUCTURE (ignore)*/
.container {
	max-width: 600px;
	padding: 30px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.spacer {
	height: 300px;
}


/*TYPOGRAPHY*/
html, html a {
    -webkit-font-smoothing: antialiased !important;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
	font-weight: 300;
	font-size: 44px;
	line-height: 1em;
	margin-bottom: 0.5em;
}

h2 {
	font-weight: 300;
	font-size: 24px;
	line-height: 1.4em;
	margin-bottom: 0.5em;
}

h3 {
	font-weight: 300;
	font-size: 20px;
	line-height: 1.4em;
	margin-top: 2em;
	margin-bottom: 2em;
	color: #636363;
	letter-spacing: 0.2px;
}

h4 {
	font-weight: 600;
	font-size: 24px;
	line-height: 1.4em;
	margin-top: 2em;
	margin-bottom: 0.6em;
}

p {
	color: #636363;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.4em;
	margin-bottom: 0.5em;
}

a {
	color: #ed7002;
	text-decoration: none;
	border-bottom: 2px solid #ed7002;
}

a:hover {
	opacity: 0.8;
}

/*BREADCRUMB*/
.breadcrumb {
	color: #636363;
	height: 40px;
	display: block;
	border-bottom: none;
	font-size: 13px;
	line-height: 40px;
	vertical-align: middle;
}

.breadcrumb a {
	color: inherit;
	border-bottom: none;
	font-size: 13px;
	line-height: 40px;
	vertical-align: middle;
}

.chevron::before {
	border-color: #ccc;
	border-style: solid;
	border-width: 1px 1px 0 0;
	content: '';
	display: inline-block;
	height: 15px;
	position: relative;
	top: 12px;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 15px;
}

.chevron.right:before {
	left: 0px;
	transform: rotate(45deg);
	margin-right: 7px;
}

.chevron.left:before {
	right: 0px;
	margin-left: 7px;
	transform: rotate(-135deg);
}

/*QUICK LINKS*/
.quick-link {
	display: block;
	max-width: 320px;
	padding: 20px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: #0d2a4a;
	margin-top: 30px;
	margin-bottom: 30px;
}

.quick-link h2 {
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.4em;
	margin-bottom: 0px;
}

.quick-link .ql-breadcrumb {
	color: #cccccc;
	font-size: 11px;
	text-transform: uppercase;
	line-height: 1.4em;
	margin-bottom: 0.8em;
	letter-spacing: 0.15px;
	font-weight: 500;
}

.quick-link p {
	color: #ffffff;
	font-size: 13px;
	line-height: 1.4em;
}


/*LISTS*/
li {
	color: #636363;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.4em;
	margin-bottom: 0.1em;
	margin-left: 1.5em;
}
/*unordered lists*/
ul {
	margin-bottom: 1em;
}
ul ul li{
	margin-left: 3em;
}
ul ul ul li {
	margin-left: 5em;
}
/*ordered lists*/
ol {
	margin-bottom: 1em;
}
ol ol li{
	margin-left: 3em;
}
ol ol ol li {
	margin-left: 5em;
}

/*TABLES*/
table {
	width: 100%;
	min-width: 400px;
	table-layout: fixed;
	display: table;
	border-collapse: collapse;
}

th {
	background-color: #dbe6f2;
	color: #0d2a4a ;
	padding: 10px;
	font-weight: 500;
	border: 1px solid #fff;
}

.orangeColumns th {
	background-color: #fd8a25;
	color: #FFFFFF;
}

.orangeRows th {
	background-color: #fd8a25;
	color: #FFFFFF;
}

td {
	color: #636363;
	font-weight: 400;
	font-size: 13px;
	line-height: 1.2em;
	padding: 15px;
	vertical-align: top;
	border: 1px solid #fff;
}

.rows tr:nth-child(odd) {
	background-color: #eeeeee;
}
.rows tr:nth-child(even) {
	background-color: #f8f8f8;
}
.columns td:nth-child(even) {
	background-color: #eeeeee;
}
.columns td:nth-child(odd) {
	background-color: #f8f8f8;
}

.orangeRows tr:nth-child(odd) {
	background-color: #ffe8d3;
}
.orangeRows tr:nth-child(even) {
	background-color: #fff6ee;
}
.orangeColumns td:nth-child(even){
	background-color: #ffe8d3;
}
.orangeColumns td:nth-child(odd){
	background-color: #fff6ee;
}

/*BUTTONS*/
button {
	font-size: 15px;
	line-height: 40px;
	vertical-align: middle;
	padding-left: 20px;
	padding-right: 20px;
	background: none;
	border:none;
	box-shadow: none;
	height: 40px;
	border-radius: 5px;
	color: #fff;
}
button:hover{
	opacity: 0.8;
	cursor: pointer;
}

.primary {
	background: #fd8a25;
	background-color: #fd8a25;
}

.secondary {
		border: 1px solid #fd8a25;
		color: #fd8a25
}
